@import url("reset.css");

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	height:100%;
	margin:0;
    padding: 0;
    background-image: url("");
    background-repeat: no-repeat;
    background-color:#17252a;
    background-attachment:fixed;
    background-position:center top;
    color:#ffffff;

}



#cointainer {
	padding:0 65px 0px 75px;
	margin:0px auto;
	height:auto;
	width:1080px;

}

.baner { margin:30px 0 0 0;}
#top_section {
	
	width:1080px;
	height:39px;
	margin:5px;
	padding:0px;

	
}

#top_section img {

	display: block;
	float:left;
	
}

.baner2 img { margin-top:30px; }

#content {
	max-width:100%;
	padding:0 25px 30px 30px;
	background-color:#0a0a0a;
	height:auto;
	float:left;
    background-image: url("images/bottom_line.jpg");
    background-position:bottom;
    background-repeat:no-repeat;
  
}

#info		{
	background-color:#0a0a0a;
	height:100px;
	width:850px;
	padding:7px 12px;
	font-size:80px;
	margin:10px auto;
	text-align:center;
	font-weight:300;	
	text-decoration: underline;
    }

#info2      {
    background-color:#0a0a0a;
    height:20px;
    width:850px;
    padding:7px 12px;
    font-size:50px;
    margin:14px auto;
    text-align:center;
    font-weight:300;    
    color: #00ffee;
}

.title_tab	{
	
	background-image: url("images/title_tab.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabblue  {
  
  background-image: url("images/title_tabblue.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabblue2  {
  
  background-image: url("images/title_tabblue2.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }


.title_tabblue3  {
  
  background-image: url("images/title_tabblue3.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabpurple  {
  
  background-image: url("images/title_tabpurple.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabgreen  {
  
  background-image: url("images/title_tabgreen.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabred  {
  
  background-image: url("images/title_tabred.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabpurple2  {
  
  background-image: url("images/title_tabpurple2.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabpink  {
  
  background-image: url("images/title_tabpink.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tabgray  {
  
  background-image: url("images/title_tabgray.png");
    background-repeat: no-repeat;
    height:65px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:30px;
    
   }

.title_tab2  {
  
  background-image: url("images/.png");
    background-repeat: no-repeat;
    height:50px;
    width:1023px;
    margin:0px auto;
    clear:both;
    text-align:center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:10px;
    font-size:20px;
    
   }
   
   #best_sites1	{
   	
   	background-image: url("images/best_sites_bg_1.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
	display:block;
 	margin-top:16px;
    
   }

   #best_sites_blue {
    
    background-image: url("images/new_sites_bgblue.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }   

   #best_sites_blue2 {
    
    background-image: url("images/new_sites_bgblue2.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }   

   #best_sites_red {
    
    background-image: url("images/new_sites_bgred.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }   

#best_sites_pink {
    
    background-image: url("images/bestsitespink.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }   

#best_sites_pink2 {
    
    background-image: url("images/bestsitespink.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }   


#best_sites_black {
    
    background-image: url("images/best_sites_black.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }    

#best_sites_gray {
    
    background-image: url("images/best_sites_gray.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }   

.best_sites_gray2  {
    
background-image: url("images/best_sites_gray.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-top:16px;
    
   }

#best_sites_purple {
    
    background-image: url("images/new_sites_purple.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
  display:block;
  margin-top:16px;
    
   }   

      #new_sites1	{
   	
   	background-image: url("images/new_sites_bg1.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
	display:block;
 	margin-top:16px;
    
   }
   
      #sites1	{
   	
   	background-image: url("images/sites_1.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
	display:block;
 	margin-top:16px;
    
   }
   
.best_sites	{
   	
background-image: url("images/best_sites_bg.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }

.best_sites_blue {
    
background-image: url("images/new_sites_bgblue.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }

.best_sites_blue2 {
    
background-image: url("images/new_sites_bgblue2.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }

.best_sites_pink2 {
    
background-image: url("images/bestsitespink.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }      

.best_sites_red {
    
background-image: url("images/new_sites_bgred.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }

.best_sites_pink {
    
background-image: url("images/bestsitespink.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }

.best_sites_gray {
    
background-image: url("images/best_sites_gray.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }

.best_sites_black {
    
background-image: url("images/best_sites_black.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }   

.best_sites_purple {
    
background-image: url("images/new_sites_purple.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }   


.soon {
    
background-image: url("images/best_sites_bg2.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-left:12px;
margin-top:16px;
    
   }


   
       .sites	{
   	
   	background-image: url("images/sites.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
	display:block;
	margin-left:12px;
 	margin-top:16px;
    
   }
   
       .new_sites	{
   	
   	background-image: url("images/new_sites_bg.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
	display:block;
	margin-left:12px;
 	margin-top:16px;
    
   }
   


.best_sites_first  {
    
background-image: url("images/best_sites_bg.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-top:16px;
    
   }

.best_sites_first2  {
    
background-image: url("images/new_sites_bgblue.png");
background-repeat: no-repeat;
height:144px;
width:195px;
float:left;
display:block;
margin-top:16px;
    
   }   
   
          .sites_first	{
   	
   	background-image: url("images/sites.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
	display:block;
 	margin-top:16px;
    
   }
   
   a {
  color: inherit;
  text-decoration: none; /* no underline */
}
   
          .new_sites_first	{
   	
   	background-image: url("images/new_sites_bg.png");
    background-repeat: no-repeat;
    height:144px;
    width:195px;
    float:left;
	display:block;
 	margin-top:16px;
    
   }
   
   .amount	{
   	
   	font-size:18px;
   	font-weight:400;
   	text-align:center;
   	margin-top:5px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
   	
   }
   
   #best_sites1 img {margin: 15px 0 0 10px;}
   #best_sites_blue img {margin: 15px 0 0 10px;}
   #best_sites_blue2 img {margin: 15px 0 0 10px;} 
   #best_sites_red img {margin: 15px 0 0 10px;} 
   #best_sites_pink img {margin: 15px 0 0 10px;}
   #best_sites_pink2 img {margin: 15px 0 0 10px;}
   #best_sites_gray img {margin: 15px 0 0 10px;} 
   #best_sites_black img {margin: 15px 0 0 10px;}
   #best_sites_purple img {margin: 15px 0 0 10px;} 
    .best_sites img {margin: 15px 0 0 10px;}
    .best_sites_pink img {margin: 15px 0 0 10px;}
    .best_sites_pink2 img {margin: 15px 0 0 10px;}
    .best_sites_black img {margin: 15px 0 0 10px;}
    .best_sites_gray img {margin: 15px 0 0 10px;}
    .best_sites_gray2 img {margin: 15px 0 0 10px;}
    .best_sites_purple img {margin: 15px 0 0 10px;}
    .best_sites_blue img {margin: 15px 0 0 10px;}
    .best_sites_blue2 img {margin: 15px 0 0 10px;}
    .best_sites_red img {margin: 15px 0 0 10px;}
    .best_sites_first img {margin: 15px 0 0 10px;}
    .best_sites_first2 img {margin: 15px 0 0 10px;}
     #new_sites1 img {margin: 15px 0 0 10px;}
    .new_sites img {margin: 15px 0 0 10px;}
    .new_sites_first img {margin: 15px 0 0 10px;} 
     #sites1 img {margin: 15px 0 0 10px;}
    .sites img {margin: 15px 0 0 10px;}
    .sites_first img {margin: 15px 0 0 10px;} 
   
   .txt_code {
   	
   	font-weight:200;
   	width:100%;
   	text-align:center;
   	margin-top:2px;
   	
   }
   
   .code {
   	
   	font-weight:200;
   	width:100%;
   	text-align:center;
   	margin-top:9px;
   	font-style:italic;
   	font-size:15px;
   	
   }
   
   #copyrights 	{
   	
   	height:25px;
   display: table-cell;
    vertical-align: middle;
    text-align:center;
    width:1080px;
    font-weight:100;
    font-size:14px;
   	
   }
   	
.tab {
 margin-bottom: 2.5em
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  line-height: auto;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you click on the tooltip container */
.tooltip:active .tooltiptext {
  visibility: visible;
}

/* Tooltip container */
.tooltip2 {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 1018px;
  height: auto;
  line-height: 18px;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you click on the tooltip container */
.tooltip2:active .tooltiptext2 {
  visibility: visible;
}

